/* ref : https://onepagelove.com/jordi-enric*/

:root {
  --color-primary: #ffffff;
  --color-secondary: #e1e1e1;
  --color-accent: #141414;
  --color-background: #000000;
  --color-hovered: #ffffff;
  --radius-normal: 0px;
  --border-normal: 2px;
}

@font-face {
  font-family: 'Chillax';
  src: url("resources/Better\ VCR\ 6.1.ttf") format("trueType");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Chillax', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  background-color: var(--color-background);
  color: var(--color-primary);
  animation: slideUP 1s ease-out forwards;
  cursor: url('resources/cursor/astro_arrow_32x32-4.cur'), auto;
}

button {
  font-family: 'Chillax', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  margin-top: 15px;
}

header {
  text-align: center;
  margin: 50px 0px 75px 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 550px;
  gap: 50px 75px;
  margin-bottom: 20px;
}

section section {
  grid-template-columns: 1fr 1fr;
  gap: 50px 25px;
  margin-bottom: 0px;
}

h4 {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: large;
  animation: slideUp 1s ease-out forwards;
}

h3, h5 {
  font-style: italic;
  font-weight: lighter;
  color: var(--color-secondary);
  font-size: small;
}

h5 {
  font-size: 9px;
  text-align: right;
}

h2 {
  color: var(--color-secondary);
  margin-bottom: 25px;
}

h1 {
  font-weight: bolder;
}

p {
  font-size: small;
  line-height: 19px;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.button {
  padding: 10px;
  background-color: var(--color-background);
  color: var(--color-primary);
  border-radius: var(--radius-normal);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-style: solid;
  border-width: var(--border-normal);
  border-color: var(--color-primary);
  box-shadow: 2px 2px var(--color-background),
              4px 4px var(--color-primary);
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 0px;
  translate: 4px 4px;
  text-decoration: none;
}

.button img {
  width: 25px;
  height: 25px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover, button:hover {
  cursor: url("resources/cursor/astro_link_32x32-4.cur"), auto;
}

a:hover, strong {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 15px;
  animation: slideUp 1s ease-out forwards;
}

a svg {
  width: 28px;
  height: 28px;
}

.bar_bg, .bar_front{
  height: 25px;
  border-radius: var(--radius-normal);
}

.bar_bg {
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-width: var(--border-normal);
  border-color: var(--color-primary);
}

.bar_front {
  background-color: var(--color-primary);
  width: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  translate: -1px -2px;
}

p {
  text-align: justify;
  animation: slideUp 1s ease-out forwards;
  margin-bottom: 15px;
}

.hidden {
  display: none;
  margin-top: 20px;
  animation: slideDown 1s ease-out forwards;
}

.hidden img, video {
  width: 99%;
  margin: 5px 0px 5px 0px;
}

form, form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  border-style: solid;
  border-color: var(--color-primary);
  border-width: var(--border-normal);
  padding: 25px;
  gap: 20px;
}

form input, form textarea {
  font-family: 'Chillax', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
  padding: 5px;
  font-size: small;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 2px 2px var(--color-background),
              4px 4px var(--color-primary);
  border: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

footer img {
  max-width: 150px;
}

.burgerMenu {
  background-color: var(--color-primary);
  color: var(--color-background);
  position: sticky;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 0px 0px 100px 0px;
}

@media (max-width: 720px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 100%; 
  }

  ul {
    justify-content: space-evenly;
  }

  section section {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .bar_bg, .bar_front{
    width: 300px;
  }

  img {
    max-width: 550px;
  }
}

@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
      opacity: 0;
      transform: translateY(-28px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

